*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-caption{
    position: absolute;
    top: 35%;
    left: 5%;
    
}
.text-caption .btn{
    background-color: rgb(136, 127, 136);
}
.text-caption .btn:hover{
    background-color: aquamarine;
}

.bottom-icons{
    position: absolute;
    bottom: 2px;
    left: 5%;
    color: rgb(136, 127, 136);
}
.bottom-icons i{
    margin: 0 3px;
}

.section-2{
    margin-top: 150px;
}

.section-3{
    margin-top: 100px;
}

.teams-row .card:hover{
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 1px 6px 4px rgb(243, 243, 243);
}
.teams-row .card button{
    color: black;
}

.teams-row .card button:hover{
    background-color: black;
    color: rgb(190, 40, 40);
}

.section-2{
    background-color: #f1f1f1;
    padding: 50px;
}

.section-4{
    background-color: #ece7e7;
    padding: 30px;
}

.section-5{
    margin-top: 100px;

}
.section-6{
    margin-top: 150px;
    background-color: #f1f1f1;
    padding: 50px;
    
}
.section-7{
    margin-top: 150px;
    background-color: #020101;
    padding: 50px;
    
}
.section-8{
   
    background-color: #f1f1f1;
    padding: 50px;
    
}

.footer-section{
    background-color: black;
}


@media  screen and (max-width: 700px) {
    .text-caption h1{
        font-size: 20px;
        
    }
    .text-caption p{
        font-size: 10px;
        
    }
    .text-caption button{
        font-size: 10px;
    }
    
}
@media  screen and (max-width: 455px) {
    .text-caption h1{
        font-size: 17px;
        
    }
    .text-caption p{
        font-size: 8px;
        
    }
    .text-caption button{
        font-size: 8px;
    }
    .bottom-icons{
        font-size: 10px;
    }
    
}
@media  screen and (max-width: 371px) {
    .text-caption h1{
        font-size: 14px;
        
    }
    .text-caption p{
        font-size: 6px;
        
    }
    .text-caption button{
        font-size: 5px;
    }
    .bottom-icons{
        font-size: 8px;
    }
    
}
@media  screen and (max-width: 335px) {
    .text-caption{
        display: none;
    }
    
}